<div class="card-container">
  <div class="card-header">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24" height="24">
      <path d="M16 13a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm-6 0a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm-6 0a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm12 2h-8a6 6 0 0 0-6 6v2h20v-2a6 6 0 0 0-6-6z"/>
    </svg>
    <h3 class="title">Squad Ranking</h3>
  </div>

  <ol class="ranking-list">
    <li class="ranking-item">
      <div class="member-info">
        <span class="avatar" style="background-color: #fca5a5;">AC</span>
        <div class="name-points">
          <span class="name">Ana Costa</span>
          <span class="points">88 pontos</span>
        </div>
      </div>
      <span class="rank">#1</span>
    </li>

    <li class="ranking-item">
      <div class="member-info">
        <span class="avatar" style="background-color: #818cf8;">CS</span>
        <div class="name-points">
          <span class="name">Carlos Silva</span>
          <span class="points">76 pontos</span>
        </div>
      </div>
      <span class="rank">#2</span>
    </li>

    <li class="ranking-item">
      <div class="member-info">
        <span class="avatar" style="background-color: #fcd34d;">MS</span>
        <div class="name-points">
          <span class="name">Marina Santos</span>
          <span class="points">72 pontos</span>
        </div>
      </div>
      <span class="rank">#3</span>
    </li>

    <li class="ranking-item">
      <div class="member-info">
        <span class="avatar" style="background-color: #a78bfa;">PL</span>
        <div class="name-points">
          <span class="name">Pedro Lima</span>
          <span class="points">65 pontos</span>
        </div>
      </div>
      <span class="rank">#4</span>
    </li>
  </ol>
</div>
