<header class="header-container">
  <div class="search-bar">
    <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="20" height="20">
      <path d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"/>
    </svg>
    <input type="text" placeholder="Buscar projetos, tarefas, sprints...">
  </div>

  <div class="user-info">
    <div class="notification-bell">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24" height="24">
        <path d="M19 13.586V10c0-3.217-2.185-5.927-5-6.758V3a2 2 0 0 0-4 0v.242C7.185 4.073 5 6.783 5 10v3.586l-1.707 1.707A.996.996 0 0 0 3 16v2a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1v-2a.996.996 0 0 0-.293-.707L19 13.586zM19 17H5v-1.414l1.414-1.414A2 2 0 0 0 7 13V10c0-2.757 2.243-5 5-5s5 2.243 5 5v3a2 2 0 0 0 .586 1.414L19 15.586V17zM12 22a2.98 2.98 0 0 0 2.818-2H9.182A2.98 2.98 0 0 0 12 22z"/>
      </svg>
      <span class="notification-badge">3</span>
    </div>

    <div class="avatar-group">
      <span class="avatar" style="background-color: #fca5a5;">AS</span>
      <span class="avatar" style="background-color: #818cf8;">CD</span>
      <span class="avatar" style="background-color: #6ee7b7;">BX</span>
    </div>


    <div class="squad-info">
      <span class="squad-name">Squad Frontend</span>
      <span class="squad-members">8 membros</span>
    </div>
  </div>


</header>
