<nav class="sidebar-container">
  <div class="sidebar-header">
    <svg class="logo-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="32" height="32">
      <path d="M4 4h6v6H4zm0 10h6v6H4zm10-10h6v6h-6zm0 10h6v6h-6z"/>
    </svg>
    <span class="logo-text">AgileBoard</span>
  </div>

  <button class="new-task-btn">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="20" height="20">
      <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"/>
    </svg>
    <span>Nova Tarefa</span>
  </button>

  <ul class="nav-list">
    <li>
      <a href="#" class="nav-item active">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="20" height="20">
            <path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"/>
        </svg>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a href="#" class="nav-item">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="20" height="20">
            <path d="M4 22h16.002C21.107 22 22 21.106 22 20V4c0-1.107-.893-2-2.002-2H4.002C2.897 2 2 2.893 2 4v16c0 1.106.897 2 2.002 2zM4 4h16v16H4V4zm2 2v2h12V6H6zm0 4v2h8v-2H6z"/>
        </svg>
        <span>Projetos</span>
      </a>
    </li>
    </ul>

  <div class="user-profile">
    </div>
</nav>
